body{
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 100px;
    background-color: black;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
#redcolor {
    color: red;
}
#bluecolor {
    color: blue;
}
#greencolor {
    color: green;
}
#yellowcolor {
    color: yellow;
}
.letter{
    margin: 20px 80% 30px 20px;
}